@import './normalize.css';

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
  color: #666666;
}


img {
  border: 0; /*ie6*/
  vertical-align: middle;
}
